/* General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

/* Layout */

.container {
    background-color: #eaeaea;
    min-height: 100vh;
    padding-bottom: 100px;
}

article {
    width: 65vw;
    padding: 3rem;
    background-color: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
}


article img {
    float: left;
    padding-right: 3rem;
    max-height: 400px;
    max-width: 100%; 
}

/*  CHALLENGE ONE - alter the image using the filter property, altered image should only appear when the user hovers on the image */


/* CHALLENGE TW0 - create a "sticky footer" (always at the bottom of the viewport*/
footer {
    clear: left;
    background-color: black;
    color: #fff;
    padding: 2rem 0;
    width: 100%;
}

/* Navigation */
/* CHALLENGE THREE -  style the navigation links */

/*Typography */






h1,
h2,
blockquote,
nav a {
    
}

h1 {
    
}

h2 {


}

h3 {
   
}

h4 {

}

h5 {
 
}

h6 {

}

p,
figcaption {
    margin-top: 2rem;
}

figcaption {
  
}

figure {
    padding: 2em;
    margin: 2em 0; 
    background-color: #C6AB80; 
}

p {

}

blockquote p {
    margin-left:auto; 
    margin-right: auto; 
    padding: 1rem 0;
}

nav {

}

nav a {

}

nav a:visited {

}

nav a:focus {

}

nav a:hover {

}

nav a:active {
}
