/* General Styles */

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

/* Typography */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header a {
    color: rgb(255, 255, 255);
}


/* Layout  & Appearance  */
header {
    position: relative;
    height: 45vh;
    background-color: #BADA55;
}

main {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.flex {
    display: flex;
}

div.flex {
    justify-content: space-between;

}

/* position the buttons */
#subscribeButton {
    border: 1px solid #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    position: absolute;
    top: 100px; 
    right: 10px;  
}

#readButton {
    color:#333; 
    text-decoration: none; 
    padding: 0.5rem; 
    border-radius:2px; 
    background-color: rgba(255,255, 255, 0.5); 
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

/*navigation*/

nav.flex {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    line-height: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    /* remember to style the various link states! */
    padding: 0 1rem;
}

/* Backgrounds & Images */

header {
    background-image: url('assets/pexels-sanketh-rao-716107.jpg'); 
    background-size:cover;
    background-attachment: fixed; 
    background-position: center; 
}

.photo-container {
    width: 200px; 
    height: 150px; 
}

.photo-container img {
    max-width: 100%; 
    height: auto; 
}


